#app {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#sphere {
  display: flex;
  justify-content: center;
}

#sphereSVG {
  border-style: groove;
}

#covid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 100px 250px 250px 250px 250px 250px 250px 250px;
  grid-row-gap: 20px;
}

#entry {
  display: grid;
  grid-template-rows: max-content max-content max-content;
  grid-template-columns: 120px 120px 120px 120px 120px 120px;
  grid-row-gap: 20px;
}

.covid {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.errorText {
  display: flex;
  align-items: center;
}

.entry {
  display: flex;
  justify-content: center;
  height: 20px;
  font-size: 18px;
}

.entryHeader {
  display: flex;
  justify-content: center;
  height: 25px;
  background-color: #95A5A6;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.35);
  font-size: 20px;
  letter-spacing: 0.03em;
}

.covidHeader {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: #95A5A6;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.35);
  font-size: 20px;
  letter-spacing: 0.03em;
}

.sphere {
  fill: rgb(102, 102, 216);
}

.country {
  fill: lightgreen;
  stroke: black;
  stroke-opacity: 0.5;
  cursor: pointer;
}

.countryDisplay {
  fill: red;
  stroke: black;
  stroke-opacity: 0.5;
}

.country:hover {
  fill: orange;
}

.searchInputs {
  display: flex;
  border-color: black;
  border: solid;
}

.errorMessage {
  display: flex;
  border-color: black;
  border: solid;
  border-width: 1px;
  width: max-content;
  padding: 2px;
  margin-top: 5px;
}

.adjust {
  height: 140px;
}

.header {
  color: black;
  background-color: rgb(209, 206, 206);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.headerText {
  letter-spacing: 0.05em;
  font-size: 65px;
  font-family: 'Open Sans Condensed';
  font-style: italic;
}

.search {
  position: absolute;
  top: 120px;
  left: 925px;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  padding: 15px;
  height: 30px;
  width: 300px;
}

.reset {
  position: absolute;
  top: 170px;
  left: 520px;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  background-color: white;
  border-style: groove;
  cursor: pointer;
}

input{
  border: 0;
  border-radius: 2px;
  padding: 10px;
  height: 10px;
  width: 300px;
}

input:focus {
  outline: none;
}

.searchIcon {
  height: 30px;
  width: 50px;
  display: grid;
  place-items: center;
}

.errorIcon {
  height: 30px;
  width: 50px;
  display: grid;
  place-items: center;
}

.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  overflow: auto;
}

.dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
  cursor: pointer;
}

p {
  margin-left: 10px;
}


.dataItem:hover {
  background-color: lightgrey;
}

.displayCountryName {
  text-decoration: underline;
}
